@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    top: 4rem;
    width: 100%;
}

.profile-pic {
    width: 88px;
    height: 88px;
    border-radius: 275px;
} 

.profile-name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #101828;
    margin-top: 1.5rem;
}

.share-icons {
    cursor: pointer;
    top: 12%;
    right: 20%;
    z-index: 2;
}

#kebab {
    display: none;
}

.box {
    position: absolute;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 15rem 0rem 8rem 0rem;
    text-align: center;
}

#slack{
    display: none;
}

.button {
    background-color: #EAECF0;
    /* width: 80%; */
    font-size: 18px;
    /* padding: 1.7rem 0 1rem 0; */
    border-radius: 8px;
}

.button:hover {
    background-color: #D0D5DD;
}

.button a {
    display: block;
    width: 80vw;
    text-decoration: none;
    line-height: 4.75rem;
    color: black;
    font-weight: 500;
}

#slack-git {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    gap: 1.5rem;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid rgba(102, 112, 133, 0.102);
    width: 80%;
    padding: 2rem 0rem 3rem 0rem;
    margin: auto;
}

span {
    display: inline-block;
    background-color: #E7332B;
    width: 7.75px;
    height: 7.87px;
    border-radius: 50%;
    margin-inline: 3px;
}

.zuri-text {
    font-size: 1.5rem;
    font-weight: 700;
}

.hng-text {
    color: #667085;
}

@media screen and (max-width: 480px) and (min-width: 375px) {
    #share {
        display: none;
    }
    #kebab{
        display: flex;
    }
    .share-icons{
        right: 5%;
    }
    .button a{
        width: 90vw;
    }
    #footer{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}